.caja {
  height: 200px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray);
}

.minWidth {
  min-width: 400px;
  width: 5%;
}

.maxWidth {
  max-width: 400px;
  margin: 0 auto;
}
